/* 
    Copyright 2012 Omar AL Zabir
    This is part of Droptiles open source project.
    Original inspiration for Metro UI in HTML and CSS came from: http://metroui.org.ua/
*/

.apps {
	margin: 120px 0 0 0;
}

.app-content {
	margin: 20px 0;
}

.btn-app {
	width: 90px;
	height: 90px;
	text-align: center;
	display: inline-block;
	padding: 10px;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 11px;
	line-height: 13px;
	margin-right: 10px;
	float: left
}

.btn-app:hover, .btn-app:focus {
	color: #ffffff;
	text-decoration: none;
	outline: 3px solid #225A68 !important
}
	
.btn-app img {
	margin: 10px 0 15px;
	max-width: 40px;
	max-height: 40px;
}

.btn-app span {
	bottom: 1px;
}

.sidepan {
	height: 660px;
}

.sidepan ul {
	list-style: none;
}
